- @active_tab = :menus
- title "Menus", true

#main_content
  #photo
    %img{ :src => '/images/portrait_funghi.jpg' }
  #menus
    - @menus.each do |menu|
      %div.menu
        %h2= menu.name
        %p= menu.description
        - menu.items.each do |item|
          %div.item
            %h3= item.name
            %span
              - if item.small_price
                $
                =item.small_price
              - if item.small_price and item.large_price
                \/
              -if item.large_price
                $
                =item.large_price
            %p.clear= item.description