- @active_tab = :menus
- title "Menus", true

#main_content
  #menus
    %ul
      - @menus.each do |menu|
        %div.menu
          %li
            %h2= menu.name
            %p= menu.description
            %ul
          
            - menu.items.each do |item|
              %div.item
                %li
                  %h3= item.name
                  - if item.small_price
                    %span
                      $
                      =item.small_price
                  - if item.small_price and item.large_price
                    %span /
                  -if item.large_price
                    %span
                      $
                      =item.large_price
                  %p= item.description