- @events.each do |event|
  .box.rounded_10.gradient
    %h2= event.name
    %h3= event.date_and_time.strftime("%A, %B %d, %Y")
    %h3= event.date_and_time.strftime("%I:%M %p").downcase
    %p= event.description
