#landscape
  %img{ :src => '/images/landscape_outside_corner.jpg', :alt => '' }
  %img{ :src => '/images/landscape_front_dining_room.jpg', :alt => '' }
  %img{ :src => '/images/landscape_pizzas_in_oven.jpg', :alt => '' }
  %img{ :src => '/images/landscape_bianca.jpg', :alt => '' }
  %img{ :src => '/images/landscape_greek_boy.jpg', :alt => '' }
  %img{ :src => '/images/landscape_salad.jpg', :alt => '' }
  %img{ :src => '/images/landscape_oven.jpg', :alt => '' }
  %img{ :src => '/images/landscape_outside_dine_in.jpg', :alt => '' }
  %img{ :src => '/images/landscape_pechetti.jpg', :alt => '' }
  %img{ :src => '/images/landscape_adrianne.jpg', :alt => '' }
#portrait  
  %img{ :src => '/images/portrait_funghi.jpg', :alt => '' }
  %img{ :src => '/images/portrait_oven.jpg', :alt => '' }
  %img{ :src => '/images/portrait_inside_bar.jpg', :alt => '' }
  %img{ :src => '/images/portrait_inside_mid_dining_room.jpg', :alt => '' }
  %img{ :src => '/images/portrait_inside_front_dining_room.jpg', :alt => '' }
  %img{ :src => '/images/portrait_outside_corner.jpg', :alt => '' }
  %img{ :src => '/images/portrait_outside_dine_in.jpg', :alt => '' }
  %img{ :src => '/images/portrait_cow.jpg', :alt => '' }
  %img{ :src => '/images/portrait_duckie.jpg', :alt => '' }
  %img{ :src => '/images/portrait_outside_carry_out.jpg', :alt => '' }
