#navigation
  = render :partial => 'navigation'

#header
  %h1 Amatos Woodfired Pizza

#store_hours
  = render :partial => 'store_hours'

#locations
  = render :partial => 'locations'

#events
  = render :partial => 'events'