- @active_tab = :home
- title "Home", false

#front
  .photos.clear.centered
    = render :partial => 'photos'



  #main_content.clear.centered
    .about_us.one_third
      = render :partial => 'about_us'
  
    .secondary_content.two_thirds
      .news.one_third
        = render :partial => 'news'
    
      .events.one_third
        = render :partial => 'events'
