body {
  text-align: center;
  background-color: #ffff99;
  font-size: 14px;
}

.clear {
  clear: both;
}

/*** header ***/

#container {
  background-color:  #000000;
  background-image:   url('/images/header_backgroung_tile.jpg');
  background-repeat:   repeat-x;
  min-width: 960px;
  text-align: left;
  width: 100%;
}

#header {
  width: 960px;
  height: 120px;
  margin: 0 auto;
  background-color: transparent;
  background-image: url('/images/logo_small.png');
  background-repeat: no-repeat;
  color: #ffffff;
}

#store_hours {
  width: 300px;
  float: right;
  margin-top: 25px;
  margin-right: 25px;
  text-align: right;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 22px;
}

#locations {
  width: 500px;
  float: right;
  margin-top: 25px;
  margin-right: 25px;
  text-align: right;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 22px;
}

div.location {
  width: 250px;
  float: left;
}

#store_hours h2, #locations h2 {
  font-size: 16px;
  line-height: 24px;
  color: #ffff99;
}

#navigation {
  width: 100%;
  height: 30px;
  background-color: #222222;
  text-align: center;
  text-transform: uppercase;
}

#navigation ul {
  width: 960px;
  margin: 0 auto;
  list-style-type: none;
}

#navigation ul li {
  line-height: 30px;
  float: left;
  width: 16%;
  font-size: 20px;
}

#navigation a:link,
#navigation a:visited {
  color: #ffff99;
  text-decoration: none;
}

#navigation a:hover, a:active {
  color: #ffffff;
  text-decoration: none;
}

/*#main_content {
  position: relative;
  clear: both;
  width: 100%;
  background-color: #ffffff;
  background-image: url('/images/cream_paper_texture_2.jpg');
}*/

#photos {
  width: 960px;
  margin: 0 auto;
  position: relative;
  height: 440px;
  background-color: #000000;
}
#photos img {
  margin-top: 20px;
}
#landscape img {
  position: absolute;
  display:block;
  left: 10px;
  width: 620px;
  height: 400px;
}

#portrait img {
  display:blocks;
  position: absolute;
  right: 10px;
  width: 300px;
  height: 400px;
}

#menus {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 30px;
  background-color: #222222;
  text-align: center;
  text-transform: uppercase;
}

#menus ul {
  width: 960px;
  margin: 0 auto;
  list-style-type: none;
}

#menus ul li {
  line-height: 30px;
  float: left;
  padding: 0 25px;
  width: auto;
  font-size: 14px;
  color: #ffff99;
}

#menus a:link,
#menus a:visited {
  color: #ffff99;
  text-decoration: none;
}

#menus a:hover, a:active {
  color: #ffffff;
  text-decoration: none;
}

#main_content {
  width: 960px;
  margin: 0 auto;
  text-align: left;
  filter:alpha(opacity=60);
  -moz-opacity:0.6;
  -khtml-opacity: 0.6;
  opacity: 0.6;
}

#about_us {
  width: 31%;
  float:left;
}

.single_about_us {
  margin: 10px;
  margin-top: 20px;
  background-color: #222222;
  border: 0 solid #222222;
  color: #ffffff;
}

#news {
  width: 31%;
  float: left;
}

.single_news {
  margin: 10px;
  margin-top: 20px;
  background-color: #222;
  border: 0 solid #222222;
  color: #ffffff;
}

#events {
  width: 31%;
  float: left;
}

.single_event {
  margin: 10px;
  margin-top: 20px;
  background-color: #222;
  border: 0 solid #222222;
  color: #ffffff;
}

/*** font styles for content ***/

#about_us h2, #news h2, #events h2 {
  font-family: "luxi-serif-1","luxi-serif-2",serif;
  font-size: 18px;
  line-height: 22px;
  padding: 5px 10px;
  text-transform: none;
  color: #c00;
	letter-spacing: .1em;
}

#events h3 {
  font-size: 12px;
  font-weight: normal;
  line-height: 16px;
  padding: 0 10px;
  text-align: right;
  text-transform: uppercase;
}

#about_us p, #news p, #events p {
  font-size: 14px;
  line-height: 20px;
  padding: 10px;
  text-transform: none;
}

/*** footer ***/

#footer {
  clear: both;
}