body {
    text-align: center;
    background-color: #ffff99;
    font-size: 12px;
}

#container {
    /*width: 960px;
    margin: 0 auto;*/
    width: 100%;
    min-width: 960px;
    text-align: left;
    background-image: url('/images/header_backgroung_tile.jpg');
    background-repeat: repeat-x;
}

#header {
    width: 960px;
    height: 180px;
    margin: 0 auto;
    background-color: transparent;
    background-image: url('/images/logo_small.png');
    background-repeat: no-repeat;
    color: #ffffff;
    
}

#navigation {
    width: 100%;
    height: 30px;
    background-color: #222222;
    float: left;
    text-align: center;
    text-transform: uppercase;
}

#navigation a:link,
#navigation a:visited {
    color: #ffffff;
    text-decoration: none;
}

#navigation ul {
    width: 960px;
    margin: 0 auto;
    list-style-type: none;
}

#navigation ul li {
    line-height: 30px;
    float: left;
    width: 16%;
    font-size: 20px;
}

div.location {
    width:300px;
    float: right;
}

#store_hours,
#locations {
    width: ;
    float: right;
    margin-top: 25px;
    margin-right: 25px;
    text-align: right;
    text-transform: uppercase;
    font-size: 12px;
    line-height: 18px;
}

#main_content {
    /*width: 960px;
    margin: 0 auto;*/
    background-color: #333333;
    clear: left;
}

#photos {
    width: 100%;
    height: 450px;
    margin: 0;
    background-color: #000000;
    text-align: center;
}
#photos img {
    margin-top: 25px;
}
#photos img.a {
    width: 620px;
    height: 400px;
    margin-right:10px;
}

#photos img.b {
    width: 300px;
    height: 400px;
}