.ui-tabs .ui-tabs-hide {
  display: none;
}

.clear {
  clear: both;
}

.gradient{
  background: #333;
  background: -moz-linear-gradient(top, #333, transparent);
  background: -webkit-gradient(linear, left top, left bottom, from(#333), to(transparent));
  filter: progid:DXImageTransform.Microsoft.gradient(StartColorStr='#333', EndColorStr='transparent', GradientType=0);
  }

.gradient_black{
  background: #333;
  background: -moz-linear-gradient(top, #333, #000);
  background: -webkit-gradient(linear, left top, left bottom, from(#333), to(#000));
  filter: progid:DXImageTransform.Microsoft.gradient(StartColorStr='#333', EndColorStr='#000', GradientType=0);
  }

.rounded_10{
	border-radius: 10px;
	-moz-border-radius: 10px;
}

.centered {
	width: 960px;
	margin: 0 auto;
}

.one_third {
	width: 320px;
	margin: 15px 0;
}

.two_thirds {
	width: 640px;
	margin: 15px 0;
}

/*** body ********************************************************/

body {
  text-align: center;
  background-color: #000;
  font-size: 14px;
	background-image: url('/images/black_noise.png');
}

#container {
  background-color:   transparent;
  background-image:   url('/images/header_backgroung_tile_125.jpg');
  background-repeat:  repeat-x;
  min-width:          960px;
  text-align:         left;
  width:              100%;
}

/*** header ********************************************************/

#header {
  background-color: transparent;
  color:            #fff;
  height:           125px;
	overflow:         hidden;
	position:         relative;
}

#header img {
	position: absolute;
	top: 0;
	left: 0;
}

#header .one_third {
	float: left;
	text-align: right;
	text-transform: uppercase;
}

#header h2 {
  font-size: 14px;
  line-height: 22px;
  color: #ff6;
	margin-right: 10px;
}

#header p {
	font-size: 12px;
	line-height: 18px;
	margin-right: 10px;
}

#header a:link,
#header a:visited {
  color: #fff;
  text-decoration: none;
}

#header a:hover, 
#header a:active {
  color: #ff6;
  text-decoration: none;
}

/*** navigation ****************************************************/

#navigation {
  width: 100%;
  height: 30px;
  text-align: center;
  text-transform: uppercase;
}

#navigation ul {
  list-style-type: none;
}

#navigation ul li {
  line-height: 30px;
  float: left;
  width: 16.6%;
  font-size: 20px;
}

#navigation a:link,
#navigation a:visited {
  color: #ff6;
  text-decoration: none;
}

#navigation a:hover, 
#navigation a:active {
  color: #fff;
  text-decoration: none;
}

/*** front page photos *********************************************/

#front .photos {
  height: 440px;
  position: relative;
}

#front .photos img {
  margin-top: 20px;
	position: absolute;
  display: block;
}

#landscape img {
  left: 10px;
  width: 620px;
  height: 400px;
}

#portrait img {
  right: 10px;
  width: 300px;
  height: 400px;
}

/*** front page menus navigation ***********************************/

#front .menus {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 30px;
  text-align: center;
  text-transform: uppercase;
}

#front .menus ul {
  list-style-type: none;
}

#front .menus ul li {
  line-height: 30px;
  float: left;
  padding: 0 25px;
  width: auto;
  font-size: 14px;
  color: #ff6;
	letter-spacing: .05em;
}

#front .menus a:link,
#front .menus a:visited {
  color: #ff6;
  text-decoration: none;
}

#front .menus a:hover, 
#front .menus a:active {
  color: #fff;
  text-decoration: none;
}

/*** front page main content ***************************************/
#front #main_content .one_third {
	margin: 0;
}
#front .about_us,
#front .news {
  float:left;
	margin: 0;
}

#front .secondary_content,
#front .events {
	float: right;
	margin: 0;
}

#front #main_content .box {
  margin: 15px 10px;
	margin-top: 0;
	padding: 10px;
}

#front #main_content .box h2 {
  font-size: 18px;
  line-height: 22px;
  padding: 10px 15px;
  color: #c00;
}

#front #main_content .box h3 {
  font-size: 12px;
  font-weight: normal;
  line-height: 16px;
  padding: 0 15px;
  text-align: right;
  text-transform: uppercase;
	color: #ff6;
}

#front #main_content .box p {
  font-size: 14px;
  line-height: 20px;
  padding: 10px 15px;
  text-transform: none;
	color: #fff;
}

/*** main content **************************************************/

#main_content {
	position: relative;
  text-align: left;
}

#main_content .box {
	color:#ccc;
	margin: 25px 0;
	padding: 25px 0;
}

#main_content .one_third{
	width: 320px;
	float: left;
	overflow: hidden;
	margin: 25px 0;
}

#main_content .two_thirds {
	float:right;
	margin: 0;
}

#main_content h1 {
}

#main_content h2 {
	color: #c00;
	font-size: 24px;
	padding: 5px 25px;
	letter-spacing: .05em;
}
#main_content h3 {
	color: #ff6;
	font-size: 16px;
	text-transform: uppercase;
	padding: 0 25px;
	font-weight: normal;
	letter-spacing: .1em;
}
#main_content span {
	color: #c00;
}
#main_content p {
	line-height: 22px;
	padding: 5px 50px 20px 50px;
	font-size: 14px;
}

/*** menus ********************************************************/

body.menus #main_content .item h3 {
	display: inline;
}

body.menus div.item {
	padding-left: 25px;
}

body.events #main_content h3 {
	text-align: right;
	font-size: 14px;
}

#menus_tabs ul {
	text-transform: uppercase;
	color: #c00;
	list-style-type: none;
}

#menus_tabs ul li {
	float: left;
	width: 16.6%;
	text-align:center;
	font-size: 14px;
	padding-top: 25px;
}
#menus_tabs ul li a {
	display: block;
	padding: 10px 10px;
	min-height: 25px;
}
#menus_tabs ul li a:link,
#menus_tabs ul li a:visited {
	color: #ccc;
	text-decoration: none;
}

#menus_tabs ul li a:hover,
#menus_tabs ul li a:active {
	color: #c00;
	text-decoration: none;
}

#menus_tabs .one_third,
#menus_tabs .two_thirds,
#menus_tabs .one_third div,
#menus_tabs .two_thirds div {
	margin-top: 0;
}

body.locations #main_content .two_thirds {
	margin-top: 25px;
}
body.locations #main_content .two_thirds .one_third {
	margin-top: 0;
	padding-top: 0;
}
body.locations #main_content p {
	padding: 25px 25px;
}
body.locations #main_content h3 {
	font-size: 14px;
	line-height: 18px;
	text-align: right;
}

a:link, a:visited {
	color: #c00;
}

a:hover, a:active {
	color: #ff6;
	text-decoration: none;
}

body.store_hours #main_content h3 {
	font-size: 14px;
	line-height: 22px;
	color: #ccc;
	letter-spacing: .05;
}
body.store_hours #main_content .one_third {
	text-align: center;
}
body.store_hours #main_content .box {
	margin: 0 10px;
	text-align: left;
}

/*** footer ********************************************************/

#footer {
  clear: both;
}