body {
  text-align: center;
  background-color: #000;
  font-size: 14px;
	background-image: url('/images/black_noise.png');
}

.clear {
  clear: both;
}

/*** header ********************************************************/

#container {
  background-color:  #;
  background-image:   url('/images/header_backgroung_tile_125.jpg');
  background-repeat:   repeat-x;
  min-width: 960px;
  text-align: left;
  width: 100%;
}

body.front #container {
	background-color: #;
}

#header {
  width: 960px;
  height: 125px;
  margin: 0 auto;
  background-color: transparent;
  color: #fff;
	overflow: hidden;
}

#header #logo {
	float:left;
}

#header #store_hours {
  width: 300px;
  float: right;
  margin: 15px 0;
  text-align: right;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 22px;
}

#header #locations {
  width: 500px;
  float: right;
  margin: 15px 0;
  text-align: right;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 22px;
}

#header div.location {
  width: 250px;
  float: left;
}

#header #store_hours h2, 
#header #locations h2 {
  font-size: 16px;
  line-height: 24px;
  color: #ff9;
}

/*** navigation ****************************************************/

#navigation {
  width: 100%;
  height: 30px;
  background-color: #222;
  text-align: center;
  text-transform: uppercase;
}

#navigation ul {
  width: 960px;
  margin: 0 auto;
  list-style-type: none;
}

#navigation ul li {
  line-height: 30px;
  float: left;
  width: 16%;
  font-size: 20px;
}

#navigation a:link,
#navigation a:visited {
  color: #ff9;
  text-decoration: none;
}

#navigation a:hover, a:active {
  color: #fff;
  text-decoration: none;
}

/*** front page photos *********************************************/

body.front #photos {
  width: 960px;
  height: 440px;
  margin: 0 auto;
  position: relative;
  background-color: #000;
}

body.front #photos img {
  margin-top: 20px;
	position: absolute;
  display: block;
}

body.front #landscape img {
  left: 10px;
  width: 620px;
  height: 400px;
}

body.front #portrait img {
  right: 10px;
  width: 300px;
  height: 400px;
}

/*** front page menus navigation ***********************************/

body.front #menus {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 30px;
  background-color: #222;
  text-align: center;
  text-transform: uppercase;
}

body.front #menus ul {
  width: 960px;
  margin: 0 auto;
  list-style-type: none;
}

body.front #menus ul li {
  line-height: 30px;
  float: left;
  padding: 0 25px;
  width: auto;
  font-size: 14px;
  color: #ff9;
}

body.front #menus a:link,
body.front #menus a:visited {
  color: #ff9;
  text-decoration: none;
}

body.front #menus a:hover, a:active {
  color: #ff9;
  text-decoration: none;
}

/*** front page main content ***************************************/

body.front #about_us {
  width: 300px;
	background-repeat: no-repeat;
  float:left;
	margin-left: 10px;
}

body.front #secondary_content {
	width: 630px;
	float: right;
}

body.front #news {
  width: 300px;
  float: left;
}

body.front #events {
  width: 310px;
  float: right;
}

body.front .single_about_us,
body.front .single_event,
body.front .single_news {
  margin: 20px 0;
  background-color: #222;
  border: 0 solid #222;
  color: #222;
  border-radius: 15px;
  -moz-border-radius: 15px;
}

body.front #about_us h2, 
body.front #news h2, 
body.front #events h2 {
  font-family: "luxi-serif-1","luxi-serif-2",serif;
  font-size: 18px;
  line-height: 22px;
  padding: 20px 20px;
  text-transform: none;
  color: #f00;
	letter-spacing: .1em;
}

body.front #events h3 {
  font-size: 12px;
  font-weight: normal;
  line-height: 16px;
  padding: 5px 20px;
  text-align: right;
  text-transform: uppercase;
	color: #ffffff;
}

body.front #about_us p, 
body.front #news p, 
body.front #events p {
  font-size: 14px;
  line-height: 20px;
  padding: 5px 20px;
  text-transform: none;
	color: #ffffff;
}

/*** main content **************************************************/

#main_content {
	position: relative;
  width: 960px;
  margin: 0 auto;
  text-align: left;
	background-color: #000000;
}

#main_content h1,
#main_content h2,
#main_content h3 {
	color: #000000;
	padding: 25px 75px 10px 75px;
}

#main_content p {
	line-height: 22px;
	padding: 5px 125px 35px 125px;
	font-size: 16px;
}

body.menus #main_content .item h3 {
	display: inline;
}
body.menus ul {
	list-style-type: none;
}
body.menus #menus {
	width: 100%;
}
body.menus #main_content div.menu,
body.locations #main_content div.location,
body.events #main_content div.single_event,
body.news #main_content div.single_news,
body.about_us #main_content div.single_about_us,
body.store_hours #main_content div.store_hour {
	background-color: #ffff99;
	margin: 25px 0;
	-moz-border-radius: 15px;
	border-radius: 15px;
}
body.menus div.item {
	padding-left: 25px;
}

/*** footer ********************************************************/

#footer {
  clear: both;
}