- @active_tab = :events
- title "Events", true

#main_content.clear.centered
  .one_third
    %img{ :src => '/images/portrait_inside_mid_dining_room.jpg'}
  .two_thirds
    - @events.each do |event|
      .box.rounded_10.gradient
        %h2= event.name
        %h3= event.date.strftime("%A, %B %d, %Y")
        %h3= event.time.strftime("%I:%M %p")
        %p= event.description