- @active_tab = :news
- title "News", true

#main_content.clear.centered
  .one_third
    %img{ :src => '/images/portrait_inside_front_dining_room.jpg'}
  .two_thirds
    - @news.each do |news|
      .box.rounded_10.gradient
        %h2= news.name
        %p= news.description