.one_fifth
  
  %a{:href => "http://www.urbanspoon.com/r/33/370044/restaurant/Columbus/Amatos-Woodfired-Pizza-Delaware"}
    %img{:alt => "Vote for us on  Urbanspoon", :width => "100", :src => "http://www.urbanspoon.com/b/o_rank/370044.gif"}
  
  %a{:href => "http://www.yelp.com/biz/amatos-woodfired-pizza-delaware"}
    %img{:alt => "Reviewed on Yelp", :height => "20", :src => "http://embed.yelpcdn.com/static/200911303104226239/i/ext/reviewedOn.gif", :width => "100"}
 
  %a{:href => "http://www.facebook.com/group.php?gid=119086838112739"}
    %img{:alt => "Find us on Facebook", :width => "100", :src => "/images/Facebook_Badge.jpg"}
