- if @locations
  - @locations.each_with_index do |location, index|
    .one_fifth
      %a{ :href => '/locations'}
        %h2= location.name
        %p= location.address_line_1
        %p= location.address_line_2
        %p= location.phone_number
