.one_fifth
  .center_text
    %a{:class => 'replace', :href => "http://www.imenu360.net/?type=RL&id=690&cpn=&misc=%27%27"}
      %h2 Order Online!
    %p= link_to "Download Menu", "/images/amatos_menu.pdf"
    %p= link_to "View Menu Onlne", "/menus"
