.one_fifth
  .center_text
    %a{:class => 'replace chownow-order-online', :href => "https://ordering.chownow.com/search/locationPicker?company_id=1254"}
      %h2 Order Online!
    %p= link_to "Download Menu", "/images/amatos_menu.pdf"
    %p= link_to "View Menu Onlne", "/menus"
