.one_fifth
  - if @store_hours
    %a{ :href => '/store_hours'}
      %h2 Hours
      - @store_hours.each do |store_hour|
        %p
          %span.name
            = store_hour.try.name
            - unless store_hour.open_time == store_hour.close_time 
              %span.hours
                = store_hour.open_time.strftime("%I%p") +'-'+ store_hour.close_time.strftime("%I%p")
  
